 # Flutter
.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
.pub-credentials/
.pubignore
.packages
*.iml
*.lock
*.log
*.pid
*.swp
*.tmp
.dart_tool/
.idea/
.vscode/
build/
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
android/local.properties
android/app/.gradle
android/app/build/
android/.gradle/
*.generated.dart
*.mocks.dart
*.g.dart
*.freezed.dart
*.config.dart
coverage/
node_modules/
.DS_Store
*.der
*.p12
*.pem
*.mobileprovision
*.keystore
